/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Main CSS */

/* Custom Variable */
:root {
  --main-heading: 2.5rem;
  --sub-heading: 2rem;
  --paragraph: 1.2rem;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  background: #181818;
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  /* font-family: "Source Code Pro", serif; */
}

.main-wrapper {
  width: 800px;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.info-card {
  margin-top: 2rem;
  display: flex;
  gap: 1.5rem;
  border-radius: 1rem;
  padding: 1rem 1.25rem;
}

.info-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
}

.info-details > p {
  opacity: 0.75;
}

.info-details > h1 {
  font-size: var(--main-heading);
  font-weight: 700;
}

.info-details > p {
  font-size: var(--paragraph);
}

.profile-pic {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  aspect-ratio: 1;
  height: 150px;
}

.profile-pic > img {
  max-width: 100%;
  height: auto;
}

.main-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 1.25rem;
}

.about,
.contact,
.projects,
.skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.25rem;
  border-radius: 1rem;
  gap: 0.5rem 0;
}

.about > h1,
.contact > h1,
.skills > h1,
.projects > h1 {
  font-size: var(--sub-heading);
  font-weight: 600;
}

.about > p,
.contact > p,
.skills > p,
.projects > p {
  font-size: var(--paragraph);
  opacity: 0.85;
}

.links > ol {
  display: flex;
  gap: 1rem;
}

.links > ol > li > a > img {
  height: 1.75rem;
}

.social-link {
  position: relative;
  display: inline-block;
}

.social-link .tooltip {
  visibility: hidden;
  background-color: rgba(127, 127, 127, 0.25);
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.social-link:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

hr {
  border-top: 1px solid #ccc;
  opacity: 0.4;
  width: 100%;
  margin: 20px 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

.skill-icons > li > a > img {
  height: 1.75rem;
}

.skill-icons {
  display: flex;
  gap: 1rem;
}

.skill-icons > li > a {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 0.25rem;
  padding: 0.75rem;
  aspect-ratio: 1;
  transition: background-color 0.6s;
}

.skill-icons > li > a:hover {
  background-color: rgba(255, 255, 255, 1);
}

.skill-icon {
  position: relative;
}

.skill-icon .tooltip {
  visibility: hidden;
  background-color: rgba(127, 127, 127, 0.25);
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.6s;
}

.skill-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 960px) {
  .main-wrapper {
    width: 480px;
  }
  .info-details > p .about > p,
  .contact > p,
  .skills > p,
  .projects > p {
    font-size: medium;
  }
}

@media (max-width: 480px) {
  .main-wrapper {
    width: 100%;
  }
  .info-details > p,
  .contact > p,
  .about > p,
  .projects > p {
    font-size: 1rem;
  }

  .info-details > h1,
  .contact > h1,
  .about > h1,
  .projects > h1 {
    font-size: 1.5rem;
  }
}
